/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .container {
  display: flex;
  margin: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.letters-container {
  display: flex;
  gap: 10px; /* Espace entre les boîtes de lettres */
}

.letter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Largeur du carré */
  height: 40px; /* Hauteur du carré */
  background-color: #3498dc; /* Fond bleu */
  color: white; /* Texte blanc */
  font-size: 18px; /* Taille de la police */
}

.word-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-form input {
  margin-top: 10px; /* Ajoute de l'espace entre le champ texte et le bouton */
}

a {
  color: #778fbf;
  text-decoration: none;
  display: flex;
  margin: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
  text-decoration: underline;
}

#score {
  font-style: italic;
  margin: 20px;
}
